body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    background-image: url(../media/bg.jpg);
    background-repeat: no-repeat;
    background-color: #004C7A;
    color: #fff;
    font-weight: 700;
    font-family: "Play", sans-serif;
}

/* Box-Design (angepasst) */
.card {
    color: #fff;
    background-color: rgba(18, 55, 84, 0.3); /* Mehr Transparenz */
    opacity: 1;
    border: 2px solid #00ffff; /* Hellere Neon-Türkis-Farbe */
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff; /* Stärkerer Neon-Leuchteffekt */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover-Effekt für Boxen */
.card:hover {
    transform: scale(1.05); /* Leichtes Vergrößern */
    box-shadow: 0 0 25px #00ffff; /* Stärkerer Neon-Leuchteffekt */
}

/* Button-Design (angepasst) */
.btn {
    color: #000;
    background-color: #00ffff; /* Hellere Neon-Türkis-Farbe */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 5px #00ffff;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
}

/* Hover-Effekt für Buttons */
.btn:hover {
    background-color: #00c0cc;
    box-shadow: 0 0 15px #00ffff;
    transform: scale(1.1);
}

/* CONNECT Button Anpassung */
.connect-btn {
    background-color: #00ffff; /* Neon-Türkis */
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00ffff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
}

/* Hover-Effekt für CONNECT Button */
.connect-btn:hover {
    background-color: #00c0cc;
    box-shadow: 0 0 20px #00ffff;
    transform: scale(1.1);
}

.btnd {
    margin-left: 5px;
    margin-bottom: 5px;
}

tr {
    border-bottom: 1px solid #333;
}

.form-control::-webkit-input-placeholder {
    color: #f06203;
}

.form-control:-ms-input-placeholder {
    color: #000;
}

.form-control::placeholder {
    color: #000;
}

/* Responsive Anpassungen */
@media only screen and (max-width: 600px) {
    .btnd {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .cardPopcorn {
        height: auto;
    }
    
    .card, .cardPopcorn {
        margin-bottom: 10px;
    }
}
